@{
    ViewData["Title"] = "NoEncontrado";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>404 - Página No Encontrada</h1>
    <p>Lo sentimos, la página que buscas no existe.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver a la página principal</a>
</div>
